*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}



body{
  
    font-size: 2rem;
   font-family: helvetica;

}


/* 
p{
    background-color: lightgray;

}

.opposite{
    display: inline-block;
    background-color: #333;
    color: whitesmoke;
    padding: 4rem;
    height: 200px;
    margin-top: 100px;
} */


ul{
    list-style-type: none;
    padding: 1rem;
    background-color: black;
    text-align: right;
    margin: 0;
}

li{
    display: inline-block;
    /* background-color: red; */
   margin-inline: 0.5rem;
    cursor: pointer;
    color: white;

}

li:hover, li:focus{
    text-decoration: underline ;
}

/* 
nav{
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2{
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul{
    /* list-style-position: inside; */
    /* list-style-type: none;
}


li{
   border-top: 1px solid #333; 
}

li a{
    display: block;
    ;
}

li a, li a:visited{
    text-decoration: none;
    color: #333;

}

li a:hover, li a:focus{
    color: whitesmoke;
    cursor: pointer;
    background-color: #333;
}

li:last-child a{
border-radius: 0 0 2rem 2rem;
}
 */ 



























/* body{
    
}

p{
    color: purple;
}

h1,h2{
    color: darkblue;
}

.highlight{
    color: red;
}

.ind{
    text-indent: 4rem;
    text-align: justify;
    width: 50%;
    font-family: cursive;
}

ol{
    list-style-type: none;
    /* padding: 0; */
/* }
ul{
    list-style-type: square;
   text-align: center;
list-style-position: inside;

}

 ul li:nth-child(even){
    color: red;
    font-size: 1.5rem;
}

ul li::marker{
    color: #000;
    font-size: 1.5rem;
    content: "👉 ";
}  */