*{
    
    background-color: papayawhip;
}

body{
    
}

p{
    color: purple;
}

h1,h2{
    color: darkblue;
}

.highlight{
    color: red;
}

.ind{
    text-indent: 4rem;
    text-align: justify;
    width: 50%;
    font-family: cursive;
}